body{
	background-color: darksalmon
}
h1{
font-size: 30px;
color: magenta;
}
h2{
color: violet;
font-family: Arial;
}

.chonk{
font-size: 100px;
}
.tall{
text-transform: uppercase;
}
.chonk.tall{
color: red;
}
h1 span{
color: violet;
}